/* 保证页面结构和高度 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* 保证页面最小高度为视窗高度 */
  display: flex;
  flex-direction: column; /* 页面分为头部、内容、页脚 */
  overflow-x: hidden
}

/* 应用容器 */
#app {
  flex: 1; /* 内容区域动态扩展 */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

/* 链接样式 */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 响应式布局 */
@media (min-width: 1024px) {
  #app {
    max-width: 100%;
    padding-right: 2rem;
  }
}

/* 页脚样式 */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
