@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; /* 保持上、右、下的间距 */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex; /* 使用 flexbox 代替 grid */
    padding-left: 0; /* 左侧不留空白 */
    padding-right: 2rem; /* 右侧保留空白 */
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%; /* 确保 #app 占满可用空间 */
  }
}
